body {
    font-family: "Lato", sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: #94d6ff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

